.about-container {
    padding: 2vw; /* Use viewport width as padding */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1vw); /* Use viewport width as blur value */
    border-radius: 2vw; /* Use viewport width as border radius */
    margin: 2vw; /* Use viewport width as margin */
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1); /* Use viewport width for box shadow */
}

.about-title {
    font-size: 4vw; /* Use viewport width for font size */
    margin-bottom: 2vw; /* Use viewport width for margin bottom */
}

.about-content {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2vw; /* Use viewport width for padding */
    border-radius: 2vw; /* Use viewport width for border radius */
    margin-bottom: 2vw; /* Use viewport width for margin bottom */
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1); /* Use viewport width for box shadow */
}

.about-content a {
    color: #5986df;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.about-content a:hover {
    color: #0044cc;
}
