.deck-container {
    border: 1px solid #ccc;
    border-radius: 2vw; /* Use viewport width for border radius */
    padding: 2vw; /* Use viewport width for padding */
    height: 80vh; /* Use 80% of viewport height */
    max-height: 80vh; /* Use 80% of viewport height */
    overflow-y: auto;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw; /* Use viewport width for margin top */
    margin-bottom: 1vw; /* Use viewport width for margin bottom */
    padding: 1vw; /* Use viewport width for padding */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border-radius: 1vw; /* Use viewport width for border radius */
}

.welcome-section > * {
    margin-bottom: 1vw; /* Use viewport width for margin bottom */
}

.new-deck-button {
    padding: 0.75vw 2vw; /* Use viewport width for padding */
    font-size: 1vw; /* Use viewport width for font size */
    background-color: #5986df; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 1vw; /* Use viewport width for border radius */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.new-deck-button:hover {
    background-color: #0044cc; /* Darker background color on hover */
}

.parent {
    width: 100%; /* Set the width of the parent element */
    height: 100%; /* Set the height of the parent element */
    border: 1px solid #ccc;
    padding: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-box {
    width: 90%; /* Set the width of the box relative to the parent */
    height: 80%; /* Set the height of the box relative to the parent */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border: 1px solid #ccc;
    border-radius: 1vmin;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.2vmin;
    box-sizing: border-box;
}

.deck-box > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3vmin; /* Minimum height for each section */
}

.deck-box > div:last-child {
    border-right: none; /* Remove right border for the last column */
    flex-grow: 1; /* Fill remaining space in the last column */
}

.deck-box .deck-actions {
    flex-direction: column; /* Buttons stack vertically */
    padding: 1vmin; /* Use viewport units for padding */
    display: flex;
    justify-content: flex-start;
    min-height: 20%; /* Minimum height for buttons section */
}

.deck-box .deck-actions button {
    margin: 0.5vmin; /* Use viewport units for margin */
    padding: 0.5vmin 1vmin; /* Use viewport units for padding */
    background-color: #5986df; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 1vmin; /* Use viewport units for border radius */
    font-size: 1vmin; /* Use viewport units for font size */
    cursor: pointer; /* Show pointer cursor on hover */
    max-width: 6vmin; /* Maximum width for buttons */
    min-width: 80px; /* Minimum width for buttons (adjust as needed) */
    min-height: 20%;
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.deck-box .deck-actions button:hover {
    background-color: #0044cc; /* Darker background color on hover */
}

.deck-actions {
    margin-top: 1vmin; /* Use viewport units for margin top */
    display: flex;
    justify-content: space-around;
}


.current-deck-box {
    border: 1px solid #ccc;
    border-radius: 2vw; /* Use viewport width for border radius */
    padding: 2vw; /* Use viewport width for padding */
    display: flex;
    align-items: center;
}

.selected-cards-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 100%; /* Subtract any header/footer height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 16px; /* Padding around the box */
    width: calc(100vw - 64px);
    max-width: 250%;
    overflow-x: auto;
}

.selected-card-column {
    white-space: normal;
    border: 1px solid lightgray;
    text-align: center;
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
    max-width: 100vw;
    width: 100%; /* Ensure the column takes up the full width */
}

.column-title {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 5px;
}

.column-content {
    padding-top: 30px;
}

.selected-card-column Typography {
    text-decoration: underline;
}



.selected-card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px;
    max-width: 100%; /* Set a max-width */
}

.selected-card-item > * {
    margin-right: 10px;
}

.selected-card-item button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.selected-card-item Typography {
    color: white;
}

.selected-card-item .counters {
    border: 1px solid white; /* Add a blue border */
    color: white;
    background-color: #1976d2; /* Set a light blue background color */
    padding: 3px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid lightgray;
}




.search-results-box {
    border: 1px solid #ccc;
    border-radius: 2vw; /* Use viewport width for border radius */
    padding: 2vw; /* Use viewport width for padding */
    margin-top: 0;
    margin-left: 2vw; /* Use viewport width for margin left */
}

.search-results-list {
    max-height: 60vh; /* Use 60% of viewport height */
    overflow-y: auto;
}

.search-result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vw 0; /* Use viewport width for margin */
    padding: 0.5vw; /* Use viewport width for padding */
    border: 1px solid #ccc;
    border-radius: 2vw; /* Use viewport width for border radius */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-faces-container {
    display: flex;
}

.card-face {
    margin-right: 1vw; /* Use viewport width for margin right */
}

.dialog-content {
    display: flex;
}

.dialog-image {
    max-width: 100%;
    margin-bottom: 1vw; /* Use viewport width for margin bottom */
}
