

.nav {
  color: black; /* Slightly transparent text color */
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
}


.site-title {
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: transparent; /* Transparent background */
}

.nav-link,
.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s;
  background-color: transparent;
}

.nav-link:hover,
.nav-link.active,
.nav-item:hover,
.nav-item.active {
  background-color: rgba(143, 143, 143, 0.9); /* Semi-transparent background on hover */
}

.nav-link:hover,
.nav-item:hover {
  background-color: rgba(143, 143, 143, 0.9);
}
