/* Apply box-sizing and font-family to all elements */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set default margin and padding for body */
body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    background-image: url('https://wallpapercave.com/wp/wp3354900.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/* Center the content in the container */
.container {
    margin: 1rem auto;
    text-align: center;
}
